body {
    background-color: black;
}

div {
    display: grid;
    place-items: center;
    height: 95vh; /* or any height you prefer */
}

h1 {
    color:white
}

button {
    background-color: #0e65dfbb; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}